<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buzzword Bingo</title>
    <link rel="stylesheet" href="static/game_management.css">
    <script src="static/game_management.js"></script>
</head>
<body onload="on_load();">
<table>
    <tr><th colspan="2">Active games</th></tr>
    <tr><td>Game name</td><td>Delete</td></tr>
    {% for game in games %}
    <tr><td><button onclick="document.location='/{{ game }}'">{{ game }}</button></td><td><button onclick="delete_game('{{ game }}');">Delete</button></td></tr>
    {% endfor %}
</table>
<br>
<label for="newgamename">Create new game:</label><input type="text" placeholder="Enter name..." id="newgamename">
<button onclick="new_game();" id="submit">Submit</button>
</body>
</html>