<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buzzword Bingo: {{ game_id }}</title>
    <script src="/static/player_list.js"></script>
</head>
<body onload="on_load();">
    <button onclick="document.location = '/';">Games list</button>
    <button onclick='delete_game({{ game_id|tojson }});'>Delete this game</button>
    <h1>Buzzword Bingo: {{ game_id }}</h1>
    <strong>Free spaces: {{ free_spaces }}</strong><br>
    <strong>Players:</strong><br>
    <ul>
        {% for player in game.players %}
        <li>{{ player }}</li>
        {% endfor %}
    </ul>
    <strong>Join the game!</strong><br>
    <label for="newplayername">Enter name: </label><input type="text" id="newplayername">
    <button id="submit" onclick='add_player({{ game_id|tojson }});'>Submit</button>
</body>
</html>
